.footer{  
   position: absolute;  
  top:78%;
  width:100%;
  height:10%;  
  text-align:center;
  font-family: Rubik,Helvetica, sans-serif;
  color: #F1F1F1;  
  height:10rem;
  padding-top: 5rem;
  box-sizing:border-box; 
  }


.logo{
  background-image: url('../components/img/FindSpoti.png');
  background-repeat: no-repeat;  
  background-position:19px;
  background-size: contain;
  
    width: 18%;
  height: 100%;



}