.btn{
  background-color: #1DB954;
  color:#F1F1F1;
  border-color: #1DB954;
  border-radius: 25px;
  width: 240px;
  height: 56px;
  position: absolute;
  left:35%;
  bottom: 19%;
}

.link{
  text-align: center;
  color:#F1F1F1;
  text-decoration: none;
  font-family: Rubik,Helvetica, sans-serif;
  font-size: 28px;
}