body{
  padding: 0;
  margin: 0;
  font-family: Rubik,Helvetica, sans-serif;
}
.container {
  background-image: url('./components/img/bg-fundo.jpg');
  width: 100%; 
  height: 100%;
  background-repeat: no-repeat;  
  background-size: 100% 100%;
  background-position:center;
  position: absolute; 
  
  
 
}



@media (prefers-reduced-motion: no-preference) {
 
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
